{% extends '_base.twig' %}
{% block adminregister %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class='row' id='add-item-container' data-type='{{section.type == 1 ? 'categoria' : 'destinatario'}}'>
						<div class='col-md-12'>
							{#-------CARTA CONTROL DE STOCK--------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">{{section.type == 1 ? 'Categorias' : 'Destinatarios'}}</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<p>
										<span class="title">Listado de {{section.type == 1 ? 'Categorias' : 'Destinatarios'}}</span>
										<span class="short-description">Añade {{section.type == 1 ? 'una nueva categoría' : 'un nuevo destinatario'}}  para poder asociarlo a un producto</span>
										{#<span class="date"><a href='#'>Añadir {{section.type == 1 ? 'nueva categoría' : 'nuevo destinatario'}}</a></span>#}
										<div class="form-group date input-zone">
											<input type='text' name='nombre' id='tools-input' class="form-control"/>
											<i class="fas fa-plus" id='add-tools'></i>
										</div>
									</p>
									<hr>
									<div class='wrapper-stock'>
										<div class='row' id='tools-items-content'>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
{% endblock %}

						{#<button type="button" class="btn btn-primary btn-lg btn-block">Nuevo articulo</button>#}
						