{% extends '_base.twig' %}
{% block adminregister %}
		{% if edit %}
			<input type='hidden' id='editar-updateArticulo'>
			<input type="hidden" class="form-control" id="idArticulo"  value="{{articulo.id}}"   >
		{% endif %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class='row' id='form-container' data-class='articulo'>
						<input data-empty='true' type="hidden" class="form-control" id="signup-tipo" placeholder="Introduzca tipo" name='tipo' value="{{zapato ? 0 : 1}}">
						<div class='col-md-6'>
							{#-------CARTA DATOS PERSONALES--------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Datos Genéricos</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<div class="form-group">
										<label for="signup-referencia" class="control-label title">Referencia</label>
										<input type="text" class="form-control" value="{{articulo.referencia}}" id="signup-referencia" ajax-callBack placeholder="Introduzca referencia" name='referencia'>
									</div>
									<div class="form-group">
										<label for="signup-marca" class="control-label title">Marca</label>
										<input min-legth='2' type="text" value="{{articulo.marca}}"  class="form-control" id="signup-marca" placeholder="Introduzca una marca" name='marca'>
									</div>
									<div class="form-group">
										<label for="signup-modelo" class="control-label title">Modelo</label>
										<input data-empty='true' type="text" value="{{articulo.modelo}}"  class="form-control" id="signup-modelo" placeholder="Introduzca modelo" name='modelo'>
									</div>
									<div class="form-group">
										<label for="signup-precio" class="control-label title">Precio</label>
										<input type="number" class="form-control" value="{{articulo.precio}}"  id="signup-precio" placeholder="Introduzca el precio del articulo" name='precio'>
									</div>
									<div class="form-group">
										<label for="signup-paisfabricacion" class="control-label title">País fabricación</label>
										<input type="text" class="form-control" value="{{articulo.paisfabricacion}}"  id="signup-paisfabricacion" placeholder="Introduzca país fabricación" name='paisfabricacion'>
									</div>
								</div>
							</div>
							{#--------------FIN CARTA DATOS PERSONALES------------------#}
							{#---------------------DATOS TÉCNICOS-----------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Datos Técnicos</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<div class="form-group">
										<label for="signup-material" class="control-label title">Material</label>
										<input data-empty='true' type="text" value="{{articulo.material}}" class="form-control" id="signup-material" placeholder="Introduzca material" name='material'>
									</div>
									<div class="form-group">
										<label for="signup-peso" class="control-label title">Peso</label>
										<input data-empty='true' type="number" value="{{articulo.peso}}" class="form-control" id="signup-peso" placeholder="Peso" name='peso'>
									</div>
									<div class="form-group">
										<label for="signup-estampado" class="control-label title">Estampado</label>
										<input data-empty='true' type="text" value="{{articulo.estampando}}" class="form-control" id="signup-estampado" placeholder="Estampado" name='estampando'>
									</div>
									{% if zapato %}
										<div class="form-group">
											<label for="signup-puntera" class="control-label title">Puntera</label>
											<input data-empty='true' type="text" value="{{articulo.puntera}}" class="form-control" id="signup-puntera" placeholder="Introduzca puntera" name='puntera'>
										</div>
										<div class="form-group">
											<label for="signup-cierre" class="control-label title">Cierre</label>
											<input data-empty='true' type="text" value="{{articulo.cierre}}" class="form-control" id="signup-cierre" placeholder="Cierre" name='cierre'>
										</div>
										{#<div class="form-group">#}
										{#	<label for="signup-tipo" class="control-label title">Tipo</label>#}
										{#	<input data-empty='true' type="number" class="form-control" id="signup-tipo" placeholder="Introduzca tipo" name='tipo'>#}
										{#</div>#}
										<div class="form-group">
											<label for="signup-altura" class="control-label title">Altura</label>
											<input data-empty='true' type="number" value="{{articulo.altura}}" class="form-control" id="signup-altura" placeholder="Introduzca altura" name='altura'>
										</div>
										<div class="form-group">
											<label for="signup-temporada" class="control-label title">Temporada</label>
											<input data-empty='true' type="text" value="{{articulo.temporada}}" class="form-control" id="signup-temporada" placeholder="Introduzca temporada" name='temporada'>
										</div>
										
										<div class="form-group">
											<label for="signup-ftacon" class="control-label title">Forma Tacon</label>
											<input data-empty='true' type="text" value="{{articulo.tacon}}" class="form-control" id="signup-ftacon" placeholder="Forma tacon" name='formatacon'>
										</div>
									{% else %}
										<div class="form-group">
											<label for="signup-alto" class="control-label title">Alto</label>
											<input data-empty='true' type="number" value="{{articulo.alto}}" class="form-control" id="signup-alto" placeholder="Introduzca alto" name='alto'>
										</div>
										<div class="form-group">
											<label for="signup-ancho" class="control-label title">Ancho</label>
											<input data-empty='true' type="number" value="{{articulo.ancho}}" class="form-control" id="signup-ancho" placeholder="Introduzca ancho" name='ancho'>
										</div>
										<div class="form-group">
											<label for="signup-profundo" class="control-label title">Profundo</label>
											<input data-empty='true' type="number" value="{{articulo.profundo}}" class="form-control" id="signup-profundo" placeholder="Introduzca profundo" name='profundo'>
										</div>
										<div class="form-group">
											<label for="signup-coleccion" class="control-label title">Coleccion</label>
											<input data-empty='true' type="text" value="{{articulo.coleccion}}" class="form-control" id="signup-coleccion" placeholder="Introduzca coleccion" name='coleccion'>
										</div>
										<div class="form-group">
											<label for="signup-nbolsillos" value="{{articulo.numbolsillos}}" class="control-label title">Numero de bolsillos</label>
											<input data-empty='true' type="number" class="form-control" id="signup-nbolsillos" placeholder="Numero de bolsillos" name='numbolsillos'>
										</div>
									{% endif %}
								</div>
							</div>
							{#------------------CATEGORIAS-------------------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Categorias</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<p>
										<span class="date">Selecciona la/s categoría/s que posee el producto</span><br>
									</p>
									<div class='row'>
										<div class='col-md-6'>
											{% for categorie in categories %}
												{% if loop.index is not even %}
													<label class='fancy-checkbox'>
														{#<input type='checkbox' name="cat[]" {{ (destinatario.id in selected) ? 'selected' : '' }} value='{{categorie.id}}'>#}
														<input type='checkbox' name="cat[]" {{ (categorie.id in catArt) ? 'checked' : '' }} value='{{categorie.id}}'>
														{#{% if categorie.id in catArt %}#}
														{#	'selected' #}
														{#{% endif %}#}
														
														<span>{{categorie.nombre}}</span>
													</label>
												{% endif %}
											{% endfor %}
										</div>
										<div class='col-md-6'>
											{% for categorie in categories %}
												{% if loop.index is even %}
													<label class='fancy-checkbox'>
														{#{% if categorie.id not in catArt %}#}
														{#	'selected' #}
														{#{% endif %}#}
														<input type='checkbox' name="cat[]" {{ (categorie.id in catArt) ? 'checked' : '' }} value='{{categorie.id}}'>

														<span>{{categorie.nombre}}</span>
													</label>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{#-------------------------------FIN CARTA CATEGORIAS-------------------#}
							{#----------------------------DESTINATARIO-------------------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Destinatarios</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<p>
										<span class="date">Selecciona el/los destinatario/s a los que va dirigido el producto</span><br>
									</p>
									<div class='row'>
										<div class='col-md-6'>
											{% for destinatario in destinatarios %}
												{% if loop.index is not even %}
													<label class='fancy-checkbox'>
														<input type='checkbox' name="dest[]" {{ (destinatario.id in desArt) ? 'checked' : '' }} value='{{destinatario.id}}'>
														<span>{{destinatario.nombre}}</span>
													</label>	
	        									{% endif %}
											{% endfor %}
										</div>
										<div class='col-md-6'>
											{% for destinatario in destinatarios %}
												{% if loop.index is even %}
													<label class='fancy-checkbox'>
														<input type='checkbox' name="dest[]" {{ (destinatario.id in desArt) ? 'checked' : '' }} value='{{destinatario.id}}'>
														<span>{{destinatario.nombre}}</span>
													</label>
	    										{% endif %}
												
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{#-------------------------------FIN CARTA DESTINATARIO--------------------#}
						</div>
						<div class='col-md-6'>
							{#----------------GUARDAR CAMBIOS------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Salvar Entrada</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<div class='row'>
										<div class='col-md-6'>
											<a href="#" class="btn btn-primary submit">Guardar Cambios</a>	
										</div>
									</div>
									<p>
										<span class="short-description">Guarde el producto en la base de datos</span>
										<span class="date">Una vez salvados los cambios puede seguir editando el producto</span>
									</p>
								</div>
							</div>
							{#----------------------FIN CARTA GUARDAR CAMBIOS-----------------------#}
							{#---------------------CARTA IMAGEN DESTACADA----------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Imagen Destacada</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<input data-empty='true' type='file' class='thumbnail hidden' name='img' id='img-thumbnail'>
									<div class='container-flex-row justify-content-center'>
										<div class='rectangle'>
											<div class='image container-flex-column justify-content-center align-items-center' id='img-thumbnail-container'>
												<a href='#' class='img-link'><i class="far fa-images btn-thubnail-img" id='img-thumbnail-btn'></i></a>
											</div>
										</div>
									</div>
									<p>
										<a href='#' class='link-add-item btn-thubnail-img'>Añadir magen destacada del producto</a><br>
										<span class="date">Imagen de previsualización del producto (sólamente puede haber una imagen destacada)</span>
										{#<img width="825" height="825" src="data:image/jpg;base64, {{img}}" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 825px) 100vw, 825px" />#}
									</p>
								</div>
							</div>
							{#----------------FIN DE CARTA IMAGEN DESTACADA------------------#}
							{#---------------------------CARTA GALERÍA--------------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Galería</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<input data-empty='true' type='file' multiple class='thumbnail hidden' name='gallery' id='img-gallery'>
									<p>
										<a href='#' class='link-add-item' id='add-img-gallery'>Añadir magen</a><br>
										<span class="date">Añade la galería de imagenes a mostrar del producto</span>
									</p>
									<div class='gallery' id='show-gallery'>
										{% for image in images %}
		                                    <li>
		                                        <a href="../project/the-deep-surface/index.html">
		                                        	<img width="150" height="150" src="{{image}}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
		                                    	</a>
		                                    </li>
                                		{% endfor %}
									</div>
								</div>
							</div>
							{#-----------------------FIN CARTA GALERÍA------------------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Detalle</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<div class="form-group">
										<label for="signup-detalle" class="control-label title">Detalle</label>
										<textarea data-empty='true' type="" class="form-control" id="signup-detalle" placeholder="Descripcion" name='detalle' rows='8'>{{articulo.detalle}}</textarea>
										<span class="date">Añade la descripción del producto que se verá al mostrar este</span>
									</div>
									
									<div class="form-group">
										<label for="signup-otrascaracteristicas" class="control-label title">Otras carecteristicas</label>
										<textarea data-empty='true' type="text" class="form-control" id="signup-otrascaracteristicas" placeholder="Introduzca otras caracteristicas" name='otrascaracteristicas' rows='8'> {{articulo.otrascaracteristicas}} </textarea>
										<span class="date">Añade las características especiales del producto</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							{#-------CARTA CONTROL DE STOCK--------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Stock</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<p>
										<span class="title">Control de Inventario</span>
										<span class="short-description">Añade el número de artículos de cada tipo que tiene disponible para la venta</span>
										<div class="form-group stock-group">
											<label for="signup-detalle" class="control-label title">Color</label>
											<select id='select-stock-color' class="form-control">
												{% for color in colors %}
													<option value="{{color.id}}">{{color.nombre}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form-group stock-group">
											<label for="signup-alto" class="control-label title">Talla</label>
											<input data-empty='true' type="number" class="form-control" id="stock-talla" placeholder="Introduzca la talla del artículo">
										</div>
										<div class="form-group stock-group">
											<label for="signup-ancho" class="control-label title">Stock</label>
											<input data-empty='true' type="number"  class="form-control" id="stock-cantidad" placeholder="Introduzca cantidad de artículos">
										</div>
										<span class="date"><a href='#' id="add-stock-btn" class="btn btn-primary">Añadir Stock</a></span>
									</p>
									<hr>
									<div class='wrapper-stock'>
										<div class='row' id="content-stock">
											<table class="table table-striped table-stock">
												<thead>
													<tr>
														<th>Color</th>
														<th>Talla</th>
														<th>Stock</th>
														<th>Eliminar</th>
													</tr>
												</thead>
												<tbody>
													{% for item in stock%}
									                    <tr class="saved" data-id="{{item.id}}" data-talla="{{item.talla}}" data-color="{{item.color}}" data-stock="{{item.stock}}">
									                      <td>
									                        {{item.color}}
									                      </td>
									                      <td>
									                        {{item.talla}}
									                      </td>
									                      <td>
									                        {{item.stock}}
									                      </td>
									                      <td>
									                        <i class="far fa-times-circle delete-stock"></i>
									                      </td>
									                    </tr>
									                  {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
{% endblock %}

						{#<button type="button" class="btn btn-primary btn-lg btn-block">Nuevo articulo</button>#}
						