<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<!--base-->
	<base href="{{urlbase}}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/main.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/mystyle.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="{{twigFolder}}/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{twigFolder}}/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.twig"><img src="{{twigFolder}}/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{twigFolder}}/assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="login/dologout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.twig" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="elements.twig" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="charts.twig" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<li><a href="panels.twig" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="notifications.twig" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><img class="icon_img_zapato_tacon" src="{{twigFolder}}/assets/img/icons/users.png"><span>Usuarios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="admin/adduser" class="">Añadir Usuario</a></li>
									<li><a href="#" class="onClickLista" data-pagina='1' data-lista='usuario'>Listado Usuarios</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><img class="icon_img_zapato_tacon" src="{{twigFolder}}/assets/img/icons/high-heel.svg"><span>Zapatos</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="admin/addproduct" class="">Añadir zapato</a></li>
									<li><a href="admin/listado-zapatos" class="onClickLista data-listar-complementos ">Listado zapatos</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages3" data-toggle="collapse" class="collapsed"><img class="icon_img_zapato_tacon" src="{{twigFolder}}/assets/img/icons/woman-bag.png"> <span>Complementos</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages3" class="collapse ">
								<ul class="nav">
									<li><a href="admin/addproduct" class="">Añadir complemento</a></li>
									<li><a href="admin/listado-complementos" class="onClickLista data-listar-complementos ">Listado complementos</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
								</ul>
							</div>
						</li>
						<li><a href="index/tables" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="typography.twig" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.twig" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
        {% block index %}{% endblock %}
        {% block tablas %}{% endblock %}
        {% block adminregister %}{% endblock %}
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="{{twigFolder}}/assets/vendor/jquery/jquery.min.js"></script>
	<script src="{{twigFolder}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{twigFolder}}/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="{{twigFolder}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="{{twigFolder}}/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="{{twigFolder}}/assets/scripts/klorofil-common.js"></script>
	<script src="{{twigFolder}}/assets/script.js" deferd></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	{#<script>#}
	{#$(function() {#}
	{#	var data, options;#}

	{#	data = {#}
	{#		labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],#}
	{#		series: [#}
	{#			[23, 29, 24, 40, 25, 24, 35],#}
	{#			[14, 25, 18, 34, 29, 38, 44],#}
	{#		]#}
	{#	};#}

	{#	options = {#}
	{#		height: 300,#}
	{#		showArea: true,#}
	{#		showLine: false,#}
	{#		showPoint: false,#}
	{#		fullWidth: true,#}
	{#		axisX: {#}
	{#			showGrid: false#}
	{#		},#}
	{#		lineSmooth: false,#}
	{#	};#}

	{#	new Chartist.Line('#headline-chart', data, options);#}



	{#	data = {#}
	{#		labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],#}
	{#		series: [{#}
	{#			name: 'series-real',#}
	{#			data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],#}
	{#		}, {#}
	{#			name: 'series-projection',#}
	{#			data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],#}
	{#		}]#}
	{#	};#}

	{#	options = {#}
	{#		fullWidth: true,#}
	{#		lineSmooth: false,#}
	{#		height: "270px",#}
	{#		low: 0,#}
	{#		high: 'auto',#}
	{#		series: {#}
	{#			'series-projection': {#}
	{#				showArea: true,#}
	{#				showPoint: false,#}
	{#				showLine: false#}
	{#			},#}
	{#		},#}
	{#		axisX: {#}
	{#			showGrid: false,#}

	{#		},#}
	{#		axisY: {#}
	{#			showGrid: false,#}
	{#			onlyInteger: true,#}
	{#			offset: 0,#}
	{#		},#}
	{#		chartPadding: {#}
	{#			left: 20,#}
	{#			right: 20#}
	{#		}#}
	{#	};#}

	{#	new Chartist.Line('#visits-trends-chart', data, options);#}



	{#	data = {#}
	{#		labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],#}
	{#		series: [#}
	{#			[6384, 6342, 5437, 2764, 3958, 5068, 7654]#}
	{#		]#}
	{#	};#}

	{#	options = {#}
	{#		height: 300,#}
	{#		axisX: {#}
	{#			showGrid: false#}
	{#		},#}
	{#	};#}

	{#	new Chartist.Bar('#visits-chart', data, options);#}



	{#	var sysLoad = $('#system-load').easyPieChart({#}
	{#		size: 130,#}
	{#		barColor: function(percent) {#}
	{#			return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";#}
	{#		},#}
	{#		trackColor: 'rgba(245, 245, 245, 0.8)',#}
	{#		scaleColor: false,#}
	{#		lineWidth: 5,#}
	{#		lineCap: "square",#}
	{#		animate: 800#}
	{#	});#}

		{#var updateInterval = 3000; #}

	{#	setInterval(function() {#}
	{#		var randomVal;#}
	{#		randomVal = getRandomInt(0, 100);#}

	{#		sysLoad.data('easyPieChart').update(randomVal);#}
	{#		sysLoad.find('.percent').text(randomVal);#}
	{#	}, updateInterval);#}

	{#	function getRandomInt(min, max) {#}
	{#		return Math.floor(Math.random() * (max - min + 1)) + min;#}
	{#	}#}

	{#});#}
	{#</script>#}
</body>

</html>
