<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pricing Tables &#8211; Vortex</title>
		<base href="{{urlbase}}">
		<meta name='robots' content='noindex,follow' />
		<link rel='dns-prefetch' href='http://maps.googleapis.com/' />
		<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
		<link rel='dns-prefetch' href='http://s.w.org/' />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel='stylesheet' id='contact-form-7-css'  href='{{twigFolder}}/src/css/styles4906.css?ver=4.7' type='text/css' media='all' />
		<link rel='stylesheet' id='wpcf-custom-styles-css'  href='{{twigFolder}}/src/css/cf7-stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='google-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CDosis%3Aregular%7CLibre+Baskerville%3Aitalic&amp;subset=vietnamese%2Cgreek%2Clatin-ext%2Cgreek-ext%2Ccyrillic-ext%2Ccyrillic%2Clatin&amp;ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='bootstrap-css'  href='{{twigFolder}}/src/css/bootstrap.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='font-awesome-css'  href='{{twigFolder}}/src/css/font-awesome.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='linea-icons-css'  href='{{twigFolder}}/src/css/linea-iconsf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='{{twigFolder}}/src/css/owl.carouself718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='{{twigFolder}}/src/css/magnific-popupf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='vertical-css'  href='{{twigFolder}}/src/css/vertical.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='animate-css'  href='{{twigFolder}}/src/css/animatef718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='style-css'  href='{{twigFolder}}/src/css/stylef718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-ext-builder-frontend-grid-css'  href='{{twigFolder}}/src/css/frontend-grid077c.css?ver=1.2.9' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-ext-forms-default-styles-css'  href='{{twigFolder}}/src/css/frontendbb98.css?ver=2.6.16' type='text/css' media='all' />
		<link rel='stylesheet' id='filterloader-css'  href='{{twigFolder}}/src/css/filterloaderf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='additional-styles-css'  href='{{twigFolder}}/src/css/extra-stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-shortcode-section-background-video-css'  href='{{twigFolder}}/src/css/backgroundf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-shortcode-section-css'  href='{{twigFolder}}/src/css/stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<script type='text/javascript' src='{{twigFolder}}/src/js/jqueryb8ff.js?ver=1.12.4'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/jquery-migrate.min330a.js?ver=1.4.1'></script>
		<link rel="icon" href="{{twigFolder}}/src/images/favicon.png" sizes="32x32" />
		<link rel="icon" href="{{twigFolder}}/src/images/favicon.png" sizes="192x192" />
		<link rel="apple-touch-icon-precomposed" href="{{twigFolder}}/src/images/favicon.png" />
		
		<meta name="msapplication-TileImage" content="http://vortex-wp.2the.me/wp-content/uploads/2017/05/favicon.png" />
	</head>
	<body class="page-template-default page page-id-324">
		<!-- Preloader-->
		<div class="page-loader">
			<div class="loader">Loading...</div>
		</div>
		{#-- end preloader --#}
		<!-- Menu(bar menu full page)-->
		<div class="overlay-menu font-alt"><a class="close-menu" href="#"><span></span></a>
			<div class="menu-table">
				<div class="menu-table-cell">
					<ul id="menu-main-menu" class="navigation">
						<li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
							<a href="#">Home</a>
							<ul class="sub-menu">
								<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-117"><a href="../index.html">Light</a></li>
								<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="../light-film/index.html">Light + Film</a></li>
								<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../dark/index.html">Dark</a></li>
								<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="../dark-film/index.html">Dark + Film</a></li>
								<li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a href="../small-light/index.html">Small Light</a></li>
								<li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="../small-dark/index.html">Small Dark</a></li>
								<li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="../slider/index.html">Slider</a></li>
								<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="../youtube-light/index.html">Youtube Light</a></li>
								<li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="../youtube-dark/index.html">Youtube Dark</a></li>
								<li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="../youtube-film/index.html">Youtube Film</a></li>
								<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="../vimeo-light/index.html">Vimeo Light</a></li>
								<li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="../vimeo-dark/index.html">Vimeo Dark</a></li>
								<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="../vimeo-film/index.html">Vimeo Film</a></li>
								<li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="../text-rotator/index.html">Text Rotator</a></li>
								<li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a href="../without-hero/index.html">Without Hero</a></li>
							</ul>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="../about/index.html">About</a>
						</li>
						<li id="menu-item-193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
							<a href="#">Portfolio</a>
							<ul class="sub-menu">
								<li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-194"><a href="../project/the-deep-surface/index.html">Standard</a></li>
								<li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-211"><a href="../project/fresh-fruits-company/index.html">Full Height Dark</a></li>
								<li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-212"><a href="../project/micheal-debuis/index.html">Full Height Light</a></li>
								<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-213"><a href="../project/greedy-emperor/index.html">Hero Youtube</a></li>
								<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-214"><a href="../project/bluetooth-speaker/index.html">Hero Vimeo</a></li>
								<li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-215"><a href="../project/drawing-inspiration/index.html">Content Slider</a></li>
								<li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-216"><a href="../project/uncomplicated-beauty/index.html">Content Youtube</a></li>
								<li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-217"><a href="../project/the-body-space/index.html">Content Vimeo</a></li>
								<li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-218"><a href="../project/systems-engineering/index.html">Gallery</a></li>
								<li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-fw-portfolio menu-item-219"><a href="../project/winter-is-coming/index.html">Without Hero</a></li>
							</ul>
						</li>
						<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29">
							<a href="#">Blog</a>
							<ul class="sub-menu">
								<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="../classic-blog/index.html">Classic</a></li>
								<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="../blog-masonry-2-cols/index.html">Masonry 2 Cols</a></li>
								<li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="../blog-masonry-3-cols/index.html">Masonry 3 Cols</a></li>
								<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="../blog-grid-2-cols/index.html">Grid 2 Cols</a></li>
								<li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="../blog-grid-3-cols/index.html">Grid 3 Cols</a></li>
								<li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-191"><a href="../cakes-inspiration/index.html">Single Post</a></li>
								<li id="menu-item-220" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-220"><a href="../minimalist-chandelier/index.html">Without Hero</a></li>
							</ul>
						</li>
						<li id="menu-item-420" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-420">
							<a href="#">Features</a>
							<ul class="sub-menu">
								<li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="../tab-accordion/index.html">Tabs &#038; Accordions</a></li>
								<li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-324 current_page_item menu-item-422"><a href="index.html">Pricing Tables</a></li>
								<li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a href="../buttons-and-icon-boxes/index.html">Buttons &#038; Icon Boxes</a></li>
								<li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="../progress-bars-and-charts/index.html">Progress Bars &#038; Charts</a></li>
								<li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="../typography-and-columns/index.html">Typography &#038; Columns</a></li>
								<li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="../modules-and-overlays/index.html">Modules &#038; Overlays</a></li>
							</ul>
						</li>
						<li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317">
							<a href="../contact/index.html">Contact</a></li>
							
					</ul>
				</div>
			</div>
		</div>
		<!-- Menu end-->
		<!-- Header (menu header)-->
		<header class="header">
			<div class="container">
				<div class="inner-header">
					<a class="inner-brand" href="../index.html">
						<img class="brand-dark" src="{{twigFolder}}/src/images/main-logo.png" style="max-height: 60px;" />
						<img class="brand-light" src="{{twigFolder}}/src/images/additional-logo.png" style="max-height: 60px;" />
					</a>
				</div>
				<div class="header-nav-toogle">
					<a class="show-menu-btn" href="#">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<div class="inner-navigation">
					<ul id="menu-additional-menu" class="">
						<li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-315">
							<a href="../index.html">Home</a>
						</li>
						<li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="../about/index.html">About</a>
						</li>
						{% if user.activo == 1 %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/tienda/pedidos">Mis Pedidos</a>
						</li>
						{% endif %}
						<li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-314">
							<a href="../contact/index.html">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- Header end-->
		{#------------BLOQUE DE CONTENIDO PARA LA PÁGINA-------------------#}
		{% block content %}
		{% endblock %}
		
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="social-text-list font-alt">
							<li>
								<a target="_blank" href="#">Facebook</a>
							</li>
							<li>
								<a target="_blank" href="#">Google Plus</a>
							</li>
							<li>
								<a target="_blank" href="#">Twitter</a>
							</li>
							<li>
								<a target="_blank" href="#">Instagram</a>
							</li>
							<li>
								<a target="_blank" href="#">Linkedin</a>
							</li>
							<li>
								<a target="_blank" href="#">Dribbble</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright font-alt">2017 <a target="_blank" href="../index.html">Vortex</a>. All Rights Reserved. Design with love by <a target="_blank" href="http://2the.me/">2Theme</a>.</p>
					</div>
				</div>
			</div>
		</footer>		
		</div>{#-------Div del cierre del wrapper-----------------#}

		<script type='text/javascript' src='{{twigFolder}}/src/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/scripts4906.js?ver=4.7'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/cf7-scriptsf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/bootstrap.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/plugins.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/custom.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/infinitescroll.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/filterinfscrf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/extra-scriptsf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/coref718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/transitionf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/backgroundf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/background.initf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/wp-embed.minf718.js?ver=4.7.12'></script>
		<script src="{{twigFolder}}/src/js/script2.js" defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="twigtemplates/admintemplate/assets/scripts/tools.js"></script>
	</body>
</html>
