<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Zapatería Minelli &#8211; Vortex</title>
		<base href="{{urlbase}}">
		<meta name='robots' content='noindex,follow' />
		<link rel='dns-prefetch' href='http://maps.googleapis.com/' />
		<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
		<link rel='dns-prefetch' href='http://s.w.org/' />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel='stylesheet' id='contact-form-7-css'  href='{{twigFolder}}/src/css/styles4906.css?ver=4.7' type='text/css' media='all' />
		<link rel='stylesheet' id='wpcf-custom-styles-css'  href='{{twigFolder}}/src/css/cf7-stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='google-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CDosis%3Aregular%7CLibre+Baskerville%3Aitalic&amp;subset=vietnamese%2Cgreek%2Clatin-ext%2Cgreek-ext%2Ccyrillic-ext%2Ccyrillic%2Clatin&amp;ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='bootstrap-css'  href='{{twigFolder}}/src/css/bootstrap.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='font-awesome-css'  href='{{twigFolder}}/src/css/font-awesome.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='linea-icons-css'  href='{{twigFolder}}/src/css/linea-iconsf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='{{twigFolder}}/src/css/owl.carouself718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='{{twigFolder}}/src/css/magnific-popupf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='vertical-css'  href='{{twigFolder}}/src/css/vertical.minf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='animate-css'  href='{{twigFolder}}/src/css/animatef718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='style-css'  href='{{twigFolder}}/src/css/stylef718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-ext-builder-frontend-grid-css'  href='{{twigFolder}}/src/css/frontend-grid077c.css?ver=1.2.9' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-ext-forms-default-styles-css'  href='{{twigFolder}}/src/css/frontendbb98.css?ver=2.6.16' type='text/css' media='all' />
		<link rel='stylesheet' id='filterloader-css'  href='{{twigFolder}}/src/css/filterloaderf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='additional-styles-css'  href='{{twigFolder}}/src/css/extra-stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-shortcode-section-background-video-css'  href='{{twigFolder}}/src/css/backgroundf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='fw-shortcode-section-css'  href='{{twigFolder}}/src/css/stylesf718.css?ver=4.7.12' type='text/css' media='all' />
		<link rel='stylesheet' id='additional-styles-css'  href='{{twigFolder}}/src/css/mystyle.css' type='text/css'/>
		<link rel='stylesheet' id='additional-styles-css'  href='{{twigFolder}}/src/css/glightbox.min.css' type='text/css'/>
		<script type='text/javascript' src='{{twigFolder}}/src/js/jqueryb8ff.js?ver=1.12.4'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/jquery-migrate.min330a.js?ver=1.4.1'></script>
		<link rel="icon" href="{{twigFolder}}/src/images/favicon.ico" sizes="32x32" />
		{#<link rel="icon" href="{{twigFolder}}/src/images/favicon.png" sizes="192x192" />#}
		{#<link rel="apple-touch-icon-precomposed" href="{{twigFolder}}/src/images/favicon.png" />#}
		
		<meta name="msapplication-TileImage" content="http://vortex-wp.2the.me/wp-content/uploads/2017/05/favicon.png" />
	</head>
	<body class="page-template-default page page-id-324">
		<!-- Preloader-->
		<div class="page-loader">
			<div class="loader">Loading...</div>
		</div>
		{#-- end preloader --#}
		<!-- Menu(bar menu full page)-->
		<div class="overlay-menu font-alt"><a class="close-menu" href="#"><span></span></a>
			<div class="menu-table">
				<div class="menu-table-cell">
					<ul id="menu-main-menu" class="navigation">
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/">Inicio</a>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/blog">Blog</a>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/about">La Empresa</a>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/contact">Contacto</a>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/archives">Archivos</a>
						</li>
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/blog">Tienda</a>
						</li>
						{% if user.activo == 1 %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/tienda/pedidos">Mis Pedidos</a>
						</li>
						{% endif %}
						{% if user.rol == 1 %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/tienda/admin">Administración</a>
						</li>
						{% endif %}
						{% if user.activo != 1 %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/tienda/login">Login</a>
						</li>
						{% else %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/tienda/login/dologout?redirect=main">Logout</a>
						</li>
						{% endif %}
						<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
							<a href="/search">Buscar</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Menu end-->
		<!-- Header (menu header)-->
		<header class="header">
			<div class="container container-nav">
				<div class="inner-header">
					<a class="inner-brand" href="../index.html">
						{% block logo %}
							<img class="brand-dark" src="{{twigFolder}}/src/images/minelli.png" style="max-height: 35px;" />
							<img class="brand-light" src="{{twigFolder}}/src/images/minelli.png" style="max-height: 35px;" />
						{% endblock %}
					</a>
				</div>
				{#<div class="header-nav-toogle">#}
				{#	<a class="show-menu-btn" href="#">#}
				{#		<span></span>#}
				{#		<span></span>#}
				{#		<span></span>#}
				{#	</a>#}
				{#</div>#}
				<div class="inner-navigation">
					<ul id="menu-additional-menu" class="">
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/"><span class="">Inicio</span></a>
						</li>
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/blog"><span class="">Blog</span></a>
						</li>
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/about"><span class="">La empresa</span></a>
						</li>
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/contact"><span class="">Contacto</span></a>
						</li>
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/archives"><span class="">Archivos</span></a>
						</li>
						{% block nav %}
							<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
								<a href="#"><span class="is_active">Tienda</span></a>
							</li>
							{% if user.activo == 1 %}
							<li id="menu-item-316" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
								<a href="/tienda/pedidos">Mis Pedidos</a>
							</li>
							{% endif %}
						{% endblock %}
						{% if user.rol == 1 %}
						<li id="menu-item-313" class="texto menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="/tienda/admin"><span class="">Administración</span></a>
						</li>
						{% endif %}
						{% if user.activo != 1 %}
						<li id="menu-item-313" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a  href="/tienda/login" class="far fa-user fa-2x my-menu-ico"></a>
						</li>
						{% else %}
						<li id="menu-item-313" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a  href="/tienda/login/dologout?redirect=main" class="fas fa-sign-out-alt fa-2x my-menu-ico"></a>
						</li>
						{% endif %}
						{#<li id="menu-item-313" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-313">#}
						{#	<a  href="/search" class="fas fa-search fa-2x my-menu-ico"></a>#}
						{#</li>#}
						<li id="menu-item-313" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
							<a href="#" id="cart">
								<i class="fa fa-shopping-cart"></i> Cart 
								<span class="badge">10</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- Header end-->
		{#----------Start cart--------------#}
		<div class="container-cart hidden">
		  <div class="shopping-cart visible">
		    <div class="shopping-cart-header">
		      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">10</span>
		      <div class="shopping-cart-total">
		        <span class="lighter-text">Total:</span>
		        <span class="main-color-text" id='cart-total'>$2,229.97</span>
		      </div>
		    </div> <!--end shopping-cart-header -->
		
		    <ul class="shopping-cart-items">
		      <li class="clearfix" data-id='id'>
		        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
		        <span class="item-name">Sony DSC-RX100M III</span>
		        <span class="item-price">$849.99</span>
		        <span class="item-quantity">Quantity: </span> <span class='item-quantity-value'>01</span>
		      </li>
		
		      <li class="clearfix">
		        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
		        <span class="item-name">KS Automatic Mechanic...</span>
		        <span class="item-price">$1,249.99</span>
		        <span class="item-quantity">Quantity: </span><span class='item-quantity-value'>01</span>
		      </li>
		
		      <li class="clearfix">
		        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
		        <span class="item-name">Kindle, 6" Glare-Free To...</span>
		        <span class="item-price">$129.99</span>
		        <span class="item-quantity">Quantity: </span><span class='item-quantity-value'>01</span>
		      </li>
		    </ul>
		
		    <a href="#" class="btn custom-btn w-100">Checkout</a>
		  </div> <!--end shopping-cart -->
		</div> <!--end container -->
		{#----------End cart----------------#}
		{#------------BLOQUE DE CONTENIDO PARA LA PÁGINA-------------------#}
		{% block content %}
		{% endblock %}
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="social-text-list font-alt">
							<li>
								<a target="_blank" href="#">Facebook</a>
							</li>
							<li>
								<a target="_blank" href="#">Google Plus</a>
							</li>
							<li>
								<a target="_blank" href="#">Twitter</a>
							</li>
							<li>
								<a target="_blank" href="#">Instagram</a>
							</li>
							<li>
								<a target="_blank" href="#">Linkedin</a>
							</li>
							<li>
								<a target="_blank" href="#">Dribbble</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright font-alt">2019 <a target="_blank" href="../index.html">Zapatería Minelli</a>. Todos los derechos reservados</a>.</p>
					</div>
				</div>
			</div>
		</footer>		
		</div>{#-------Div del cierre del wrapper-----------------#}
		<script type='text/javascript' src='{{twigFolder}}/src/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/scripts4906.js?ver=4.7'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/cf7-scriptsf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/bootstrap.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/plugins.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/custom.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/infinitescroll.minf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/filterinfscrf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/extra-scriptsf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/coref718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/transitionf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/backgroundf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/background.initf718.js?ver=4.7.12'></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/wp-embed.minf718.js?ver=4.7.12'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="twigtemplates/admintemplate/assets/scripts/tools.js"></script>
		<script type='text/javascript' src='{{twigFolder}}/src/js/cart.js' defer></script>
		<script src="{{twigFolder}}/src/js/glightbox.min.js" defer></script>
		<script src="{{twigFolder}}/src/js/script2.js" defer></script>
	</body>
</html>
{#https://cartjs.org/pages/guide#}