{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
	<section class="module-header default-height parallax bg-light bg-light-60 bg-film" data-background="{{twigFolder}}/src/images/module-13.jpg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="h3 font-alt">Blog Grid</h1>
					<h1 class="h4 font-alt">We have standards</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog-->
	<section class="module">
		<div class="container">
			<div id="ordenIndex">
		        <div class='col-md-3'>
		            <a href="#" class="onClickLista" data-pagina='1' data-lista='todos'>Todo</a>
		            <!--<a href="index/listarLinks?pagina={{lista.paginas.primero}}&orden={{lista.paginas.orden}}" class="btn contact-submit" role="button">Primero</a>-->
		        </div>
		        <div class='col-md-3'>
		            <a href="#" class="onClickLista" data-pagina='1' data-lista='zapatos'>Zapatos</a>
		            <!--<a href="index/listarLinks?pagina={{lista.paginas.anterior}}&orden={{lista.paginas.orden}}" class="btn contact-submit" role="button">Anterior</a>-->
		        </div>
		        <div class='col-md-3'>
		            <a href="#" class="onClickLista" data-pagina='1' data-lista='complementos'>Complementos</a>
		            <!--<a href="index/listarLinks?pagina={{lista.paginas.siguiente}}&orden={{lista.paginas.orden}}" class="btn contact-submit" role="button">Siguiente</a>-->
		        </div>
		        <div class='col-md-3'>
		            <input type="text" name="filtro" class="form-control" id="filtro"  placeholder="Filtrar"  />
	        		<button id="filtroBt">Filtrar</button>
		        </div>
   		 	</div>
			<div class="row blog-grid multi-columns-row contenedorArticulos">
				<!-- Posts-->
				 {% for item in data.zapatos%}
					<div class="col-sm-4 col-md-4 col-lg-4 post-item">
						<article  class="post-27 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-business tag-lifestyle tag-music tag-news tag-travel">
							<div class="post-preview">
								<a href="../mini-california-sushi-cones/index.html">
									{#{{item.img}}#}
									<img width="340px" src="data:image/jpg;base64, {{item.img}}">
								</a>
								

							<div class="post-header">
								<h2 class="post-title font-alt">
									<a href="../mini-california-sushi-cones/index.html">{{item.modelo}}</a>
								</h2>
								<ul class="post-meta font-alt">
									<li>
										<span>{{item.marca}}</span>
										
									</li>
									<li>
										<span>{{item.referencia}}</span>
									</li>
								</ul>
							</div>
							<div class="post-content">
								<p>{{item.detalle}}</p>
								<p>{{item.precio}}€</p>
							</div>
							<div class="post-more">
								<a class="font-alt" href="../mini-california-sushi-cones/index.html">Read More &rarr;</a>
							</div>
						</article>
					</div>
				{% endfor %}
				{#<div class="col-sm-4 col-md-4 col-lg-4 post-item">#}
				{#	<article id="post-25" class="post-25 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-business tag-lifestyle tag-music tag-news tag-travel">#}
				{#		<div class="post-preview">#}
				{#			<a href="../minimalist-chandelier/index.html">#}
				{#				<img width="825" height="825" src="{{twigFolder}}/src/images/blog-2.jpg" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 825px) 100vw, 825px" /></a>#}
				{#		</div>#}
				{#		<div class="post-header">#}
				{#			<h2 class="post-title font-alt">#}
				{#				<a href="../minimalist-chandelier/index.html">Minimalist Chandelier</a>#}
				{#			</h2>#}
				{#			<ul class="post-meta font-alt">#}
				{#				<li>#}
				{#					<span>May 11, 2017</span>#}
				{#				</li>#}
				{#			</ul>#}
				{#		</div>#}
				{#		<div class="post-content">#}
				{#			<p>Depending listening delivered off new she procuring satisfied sex existence. Person plenty answer to exeter it if. Law use assistance especially resolution.</p>#}
				{#		</div>#}
				{#		<div class="post-more">#}
				{#			<a class="font-alt" href="../minimalist-chandelier/index.html">Read More &rarr;</a>#}
				{#		</div>#}
				{#	</article>#}
				{#</div>#}
				{#<div class="col-sm-4 col-md-4 col-lg-4 post-item">#}
				{#	<article id="post-23" class="post-23 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-business tag-lifestyle tag-music tag-news tag-travel">#}
				{#		<div class="post-preview">#}
				{#			<a href="../cakes-inspiration/index.html">#}
				{#				<img width="1024" height="576" src="{{twigFolder}}/src/images/blog-3-1024x576.jpg" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />#}
				{#			</a>#}
				{#		</div>#}
				{#		<div class="post-header">#}
				{#			<h2 class="post-title font-alt">#}
				{#				<a href="../cakes-inspiration/index.html">Cake&#8217;s Inspiration</a>#}
				{#			</h2>#}
				{#			<ul class="post-meta font-alt">#}
				{#				<li>#}
				{#					<span>May 11, 2017</span>#}
				{#				</li>#}
				{#			</ul>#}
				{#		</div>#}
				{#		<div class="post-content">#}
				{#			<p>Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active.</p>#}
				{#		</div>#}
				{#		<div class="post-more">#}
				{#			<a class="font-alt" href="../cakes-inspiration/index.html">Read More &rarr;</a>#}
				{#		</div>#}
				{#	</article>#}
				{#</div>#}
				{#<div class="col-sm-4 col-md-4 col-lg-4 post-item">#}
				{#	<article id="post-21" class="post-21 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-business tag-lifestyle tag-music tag-news tag-travel">#}
				{#		<div class="post-preview">#}
				{#			<a href="../sportina-print-campaign/index.html">#}
				{#				<img width="825" height="825" src="{{twigFolder}}/src/images/blog-4.jpg" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 825px) 100vw, 825px" />#}
				{#			</a>#}
				{#		</div>#}
				{#		<div class="post-header">#}
				{#			<h2 class="post-title font-alt">#}
				{#				<a href="../sportina-print-campaign/index.html">Sportina Print Campaign</a>#}
				{#			</h2>#}
				{#			<ul class="post-meta font-alt">#}
				{#				<li>#}
				{#					<span>May 11, 2017</span>#}
				{#				</li>#}
				{#			</ul>#}
				{#		</div>#}
				{#		<div class="post-content">#}
				{#			<p>Depending listening delivered off new she procuring satisfied sex existence. Person plenty answer to exeter it if. Law use assistance especially resolution.</p>#}
				{#		</div>#}
				{#		<div class="post-more">#}
				{#			<a class="font-alt" href="../sportina-print-campaign/index.html">Read More &rarr;</a>#}
				{#		</div>#}
				{#	</article>#}
				{#</div>#}
				{#<div class="col-sm-4 col-md-4 col-lg-4 post-item">#}
				{#	<article id="post-19" class="post-19 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-corporate tag-lifestyle tag-music tag-news tag-travel">#}
				{#		<div class="post-preview">#}
				{#			<a href="../portrait-photoshoots/index.html">#}
				{#				<img width="825" height="825" src="{{twigFolder}}/src/images/blog-6.jpg" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 825px) 100vw, 825px" />#}
				{#			</a>#}
				{#		</div>#}
				{#		<div class="post-header">#}
				{#			<h2 class="post-title font-alt"><a href="../portrait-photoshoots/index.html">Portrait Photoshoots</a></h2>#}
				{#			<ul class="post-meta font-alt">#}
				{#				<li>#}
				{#					<span>May 11, 2017</span>#}
				{#				</li>#}
				{#			</ul>#}
				{#		</div>#}
				{#		<div class="post-content">#}
				{#			<p>Depending listening delivered off new she procuring satisfied sex existence. Person plenty answer to exeter it if. Law use assistance especially resolution.</p>#}
				{#		</div>#}
				{#		<div class="post-more">#}
				{#			<a class="font-alt" href="../portrait-photoshoots/index.html">Read More &rarr;</a>#}
				{#		</div>#}
				{#	</article>#}
				{#</div>#}
				{#<div class="col-sm-4 col-md-4 col-lg-4 post-item">#}
				{#	<article id="post-17" class="post-17 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-corporate tag-lifestyle tag-music tag-news tag-travel">#}
				{#		<div class="post-preview">#}
				{#			<a href="../the-handkerchief/index.html">#}
				{#				<img width="1024" height="576" src="{{twigFolder}}/src/images/blog-5-1024x576.jpg" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />#}
				{#			</a>#}
				{#		</div>#}
				{#		<div class="post-header">#}
				{#			<h2 class="post-title font-alt">#}
				{#				<a href="../the-handkerchief/index.html">The Handkerchief</a>#}
				{#			</h2>#}
				{#			<ul class="post-meta font-alt">#}
				{#				<li>#}
				{#					<span>May 11, 2017</span>#}
				{#				</li>#}
				{#			</ul>#}
				{#		</div>#}
				{#		<div class="post-content">#}
				{#			<p>Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active.</p>#}
				{#		</div>#}
				{#		<div class="post-more">#}
				{#			<a class="font-alt" href="../the-handkerchief/index.html">Read More &rarr;</a>#}
				{#		</div>#}
				{#	</article>#}
				{#</div>#}
				<!-- Posts end-->
			</div>
			<!-- Pagination-->
			
			
		
			
			
			<div class="row">
				<div class="col-sm-12">
					<ul class="pagination font-alt" id="pintarPaginas">
						<li>
							 <a href = "#" class = "btnPagina " data-pagina='{{lista.paginas.primero}}'>Primero</a>
						</li>
						<li>
							<a href = "#" class = "btnPagina " data-pagina='{{data.paginas.siguiente}}'>siguiente</a>
						</li> 
						<li>
							<a href = "#" class = "btnPagina" data-pagina='{{data.paginas.anterior}}'>anterior</a>
						</li>
						<li>
							 <a href = "#" class = "btnPagina " data-pagina='{{lista.paginas.ultimo}}'>ultima</a>
						</li>
						
					</ul>
				</div>
			</div>
			<!-- Pagination end-->
		</div>
	</section>
{% endblock %}