{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
    <section class="module-header default-height parallax bg-light bg-light-60 bg-film" data-background="{{twigFolder}}/src/images/module-19.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="h3 font-alt">Uncomplicated Beauty</h1>
                    <ul class="post-meta font-alt">
                        <li>
                        	<span>May 11, 2017</span>
                    	</li>
                        <li>
                        	<a href="../../portfolio/design/index.html" rel="tag">Design</a>, 
                        	<a href="../../portfolio/photo/index.html" rel="tag">Photo</a>, 
                        	<a href="../../portfolio/web/index.html" rel="tag">Web</a>
                    	</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <article id="post-85" class="post-85 fw-portfolio type-fw-portfolio status-publish has-post-thumbnail hentry fw-portfolio-category-design fw-portfolio-category-photo fw-portfolio-category-web">
        <div class="fw-page-builder-content">
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="video-wrapper shortcode-container">
                                <iframe width="300" height="169" src="https://www.youtube.com/embed/EMy5krGcoOU?feature=oembed" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fw-divider-space" style="margin-top: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                            <ul class="project-details font-alt">
                                <li>Date: 23 November, 2015</li>
                                <li>Online: <a target="_blank" href="#">www.site.com</a></li>
                                <li>Client: <a target="_blank" href="#">Mark Stone</a></li>
                                <li>Email: <a href="mailto:info@domain.com">info@domain.com</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">Highly Customizable</h5></div>
                                <div class="icon-box-content">
                                    <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                </div>
                            </div>
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">Optimized For Speed</h5></div>
                                <div class="icon-box-content">
                                    <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">Responsive Design</h5></div>
                                <div class="icon-box-content">
                                    <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                </div>
                            </div>
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">Features &amp; Plugins</h5></div>
                                <div class="icon-box-content">
                                    <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <section class="module module-divider-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="module-title">
                        <h2 class="font-alt">Recent Projects</h2></div>
                </div>
            </div>
            <div class="row row-portfolio">
                <div class="grid-sizer"></div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-1-308x640.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">The Deep Surface</h6>
                            <span class="portfolio-subtitle">Branding</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../the-deep-surface/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-2.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Fresh Fruits Company</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../fresh-fruits-company/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-3.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Micheal Debuis</h6>
                            <span class="portfolio-subtitle">Design</span>
                    	</div>
                    </div>
                    <a class="portfolio-link" href="../micheal-debuis/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-4.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Greedy Emperor</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../greedy-emperor/index.html"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}