{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
    <section class="module-header default-height parallax bg-dark bg-dark-60" data-background="{{twigFolder}}/src/images/module-5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="h3 font-alt">Systems Engineering</h1>
                    <ul class="post-meta font-alt">
                        <li>
                        	<span>May 11, 2017</span>
                    	</li>
                        <li>
                        	<a href="../../portfolio/branding/index.html" rel="tag">Branding</a>, 
                        	<a href="../../portfolio/photo/index.html" rel="tag">Photo</a>
                    	</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <article id="post-83" class="post-83 fw-portfolio type-fw-portfolio status-publish has-post-thumbnail hentry fw-portfolio-category-branding fw-portfolio-category-photo">
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id='gallery-1' class='gallery galleryid-83 gallery-columns-3 gallery-size-full'>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-17.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-17.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-204" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-204'>
                                    Caption #1
                                </figcaption>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-18.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-18.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-205" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-205'>
                                    Caption #2
                                </figcaption>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-19.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-19.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-206" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-206'>
                                    Caption #3
                                </figcaption>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-20.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-20.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-207" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-207'>
                                    Caption #4
                                </figcaption>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-21.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-21.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-208" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-208'>
                                    Caption #5
                                </figcaption>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon portrait'>
                                    <a rel="gallery" href='{{twigFolder}}/src/images/img-22.jpg'>
                                    	<img width="767" height="866" src="{{twigFolder}}/src/images/img-22.jpg" class="attachment-full size-full" alt="" aria-describedby="gallery-1-209" sizes="(max-width: 767px) 100vw, 767px" />
                                	</a>
                                </div>
                                <figcaption class='wp-caption-text gallery-caption' id='gallery-1-209'>
                                    Caption #6
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <section class="module module-divider-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="module-title">
                        <h2 class="font-alt">Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row row-portfolio">
                <div class="grid-sizer"></div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-1-308x640.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">The Deep Surface</h6>
                            <span class="portfolio-subtitle">Branding</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../the-deep-surface/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-2.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Fresh Fruits Company</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../fresh-fruits-company/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-3.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Micheal Debuis</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../micheal-debuis/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-4.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Greedy Emperor</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../greedy-emperor/index.html"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
    