{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
	<article id="post-82" class="post-82 fw-portfolio type-fw-portfolio status-publish has-post-thumbnail hentry fw-portfolio-category-design fw-portfolio-category-web">
        <div class="fw-page-builder-content">
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="project-details font-alt">
                                <li>Date: 23 November, 2015</li>
                                <li>Online: <a target="_blank" href="#">www.site.com</a></li>
                                <li>Client: <a target="_blank" href="#">Mark Stone</a></li>
                                <li>Email: <a href="mailto:info@domain.com">info@domain.com</a></li>
                            </ul>
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">The Project</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella.</p>
                                </div>
                            </div>
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress-item">
                                <div class="progress-title font-alt">
                                    Branding
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-solid" style="background-color: #333333;" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <span class="pb-number-box font-alt">
                                            <span class="pb-number"></span>%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-title font-alt">
                                    Websites
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-solid" style="background-color: #333333;" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <span class="pb-number-box font-alt">
                                            <span class="pb-number"></span>
                                            %
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-title font-alt">
                                    Photography
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-solid" style="background-color: #333333;" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <span class="pb-number-box font-alt">
                                            <span class="pb-number"></span>
                                            %
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-divider-space" style="margin-top: 40px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fw-divider-space" style="margin-top: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="{{twigFolder}}/src/images/img-14.jpg" alt="//vortex-wp.2the.me/wp-content/uploads/2017/05/img-14.jpg" />
                            <div class="fw-divider-space" style="margin-top: 20px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{twigFolder}}/src/images/img-11.jpg" alt="//vortex-wp.2the.me/wp-content/uploads/2017/05/img-11.jpg" />
                            <div class="fw-divider-space" style="margin-top: 20px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <img src="{{twigFolder}}/src/images/img-12.jpg" alt="//vortex-wp.2the.me/wp-content/uploads/2017/05/img-12.jpg" />
                            <div class="fw-divider-space" style="margin-top: 20px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="{{twigFolder}}/src/images/img-13.jpg" alt="//vortex-wp.2the.me/wp-content/uploads/2017/05/img-13.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 70px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">The Project</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>There have not been any since we have lived here, said my mother. We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 70px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">The Solution</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>There have not been any since we have lived here, said my mother. We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fw-divider-space" style="margin-top: 70px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-title">
                                    <h5 class="font-alt">The Final Good</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>There have not been any since we have lived here, said my mother. We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <section class="module module-divider-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="module-title">
                        <h2 class="font-alt">Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row row-portfolio">
                <div class="grid-sizer"></div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-1-308x640.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">The Deep Surface</h6>
                            <span class="portfolio-subtitle">Branding</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../the-deep-surface/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-2.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Fresh Fruits Company</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../fresh-fruits-company/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-3.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Micheal Debuis</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../micheal-debuis/index.html"></a>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-img-wrap" data-background="{{twigFolder}}/src/images/img-4.jpg"></div>
                        <div class="portfolio-overlay"></div>
                        <div class="portfolio-caption font-alt">
                            <h6 class="portfolio-title">Greedy Emperor</h6>
                            <span class="portfolio-subtitle">Design</span>
                        </div>
                    </div>
                    <a class="portfolio-link" href="../greedy-emperor/index.html"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}