{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
    <!-- Single post-->
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <!-- Post-->
                    <article id="post-25" class="post-25 post type-post status-publish format-standard has-post-thumbnail hentry category-branding category-design category-printing tag-business tag-lifestyle tag-music tag-news tag-travel">
                        <div class="post-preview"><img width="825" height="825" src="data:image/jpg;base64, {{img}}" class="attachment-large size-large wp-post-image" alt="" sizes="(max-width: 825px) 100vw, 825px" /></div>
                        <div class="post-header">
                            <h1 class="post-title font-alt">{{item.modelo}}</h1>
                            <ul class="post-meta font-alt">
                                <li>
                                	<span>{{item.referencia}}</span>
                            	</li>
                            </ul>
                        </div>
                        <div class="post-content">
                            <h4>Detalle</h4>
                            <p>{{item.detalle}}</p>
                            {% if item.otrascaracteristicas %}
                                <h4>Otras Características</h4>
                                <p>{{item.otrascaracteristicas}}</p>
                            {% endif %}
                        </div>
                        {#<div class="post-footer">#}
                        {#    <div class="post-tags">#}
                        {#        <h4>Destinatarios</h4>#}
                        {#        <a href="../tag/business/index.html" rel="tag">Business</a> #}
                        {#        <a href="../tag/lifestyle/index.html" rel="tag">Lifestyle</a>#}
                        {#        <a href="../tag/music/index.html" rel="tag">Music</a>#}
                        {#        <a href="../tag/news/index.html" rel="tag">News</a>#}
                        {#        <a href="../tag/travel/index.html" rel="tag">Travel</a> #}
                        {#    </div>#}
                        {#</div>#}
                    </article>
                    <!-- Post end-->
                </div>
                <!-- Sidebar-->
                <div class="col-sm-4">
                    <div class="sidebar">
                        {#------CATEGORIAS----------#}
                        <aside id="categories-3" class="widget widget_categories">
                            <div class="widget-title font-alt">Categorias</div>
                            <ul>
                            {% for cat in categorias%}
                                <li class="cat-item cat-item-3"><a title="We know what we’re good at, and we stick to it">{{cat.nombre}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </aside>
                        {#---------DESTINATARIOS---------#}
                        <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                            <div class="widget-title font-alt">Destinatarios</div>
                            <div class="tagcloud">
                                {% for dest in destinatarios%}
                                    <a href='../tag/travel/index.html' class='tag-link-13 tag-link-position-7' title='12 topics' style='font-size: 7px;'>{{dest.nombre}}</a>
                                {% endfor %}
                            </div>
                        </aside>
                        <aside id="recent-projects-2" class="widget widget_recent_works">
                            <div class="widget-title font-alt">Galería</div>
                            <ul>
                                {% for image in images %}
                                    <li>
                                        <a href="{{image}}">
                                        	<img width="150" height="150" src="{{image}}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
                                    	</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
                <!-- Sidebar end-->
            </div>
        </div>
    </section>
{% endblock %}
        